.header {
  z-index: 9;
  background: rgba(40, 40, 40, 0.8);
  backdrop-filter: blur(10px);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 3px;
  background-color: var(--color-accent-1);
  border: 1px solid var(--color-accent-2);
  width: 128px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-top: 2rem;
  margin-left: 1rem;
  animation: slidein cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms
    alternate-reverse;
}

@keyframes slidein {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateY(-16px) scale(0.9);
    opacity: 0;
  }
}

.navLink {
  margin: 0;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  border-radius: 4px;
  opacity: 0.5;
  transition: opacity 150ms ease-out;
}

.active {
  background: var(--color-accent-2);
  opacity: 1;
}

.navLink:hover {
  opacity: 0.8;
}

.button {
  outline: 0;
  border: 0;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: white;
  transition: all 200ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: var(--color-accent-5);
}
