.aside {
  background-color: red;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar {
  background-color: var(--color-accent-1);
  border-right: 1px solid var(--color-accent-2);
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.navLink {
  margin: 0;
  padding: var(--space-2);
  display: flex;
  text-decoration: none;
  border-radius: var(--radius-sm);
  transition: opacity 150ms ease-out;
  font-size: var(--font-size-md);
  align-items: center;
  gap: var(--space-2);
  transition: background-color 100ms ease-in-out;
}

.navLink:hover {
  background-color: var(--color-accent-2);
  opacity: 1;
}

.active {
  background-color: var(--color-accent-2);
}

.contactButton {
  margin: 0;
  padding: var(--space-2);
  display: flex;
  text-decoration: none;
  border-radius: var(--radius-sm);
  transition: opacity 150ms ease-out;
  font-size: var(--font-size-md);
  align-items: center;
  gap: var(--space-1);
  transition: background-color 200ms ease-out;
  background-color: var(--color-foreground);
  color: var(--color-background);
  justify-content: center;
}

.contactButton:hover {
  opacity: 1;
  background-color: var(--accent-8);
}

/* Desktop Styles */

@media only screen and (max-width: 700px) {
  .aside {
    display: none;
  }
}
